<!DOCTYPE html>
<html lang="es"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>Sistema de citas para clinicas</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Tu archivo CSS personalizado -->
        <link th:href="@{/css/styles.css}" rel="stylesheet"/>
        <!-- SweetAlert2 JS -->
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <!-- Bootstrap CSS CDN (Asegúrate de que este o el tuyo local esté cargado) -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#">Citas clinicas</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" th:href="@{/}">Inicio</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/cita/create}">Reservar Cita</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/cita}">Ver Citas</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/clinica}">Ver Clinicas</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/medico}">Ver Medicos</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/paciente}">Ver Pacientes</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page content-->
        <div class="container">
            <div class="text-center mt-5">
               <div layout:fragment="content">
                <p>Changing Contents...</p>
                </div>
            </div>
        </div>
        <!-- Bootstrap JS y Popper.js, necesarios para la navbar responsive y otros componentes -->
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
    </body>
</html>
