<!DOCTYPE html>
<html lang="es">

<head>
    <title>Factura Electrónica</title>
    <style> </style>
</head>

<body>
    <table>
        <thead>
            <th>ID</th>
            <th>Nombre</th>
            <th>Direccion</th>
            <th>Telefono</th>
        </thead>
        <tbody>
            <tr th:each="item : ${clinicas}">
            <td th:text="${item.id}"></td>
            <td th:text="${item.nombre}"></td>
            <td th:text="${item.direccion}"></td>
            <td th:text="${item.telefono}"></td>
            </tr>
        </tbody>
    </table>
</body>

</html>