<html lang="en"
    xmlns="http://thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="/layouts/_mainLayout.html">

<div layout:fragment="content">

    
    <div th:if="${msg != null}">
        <script>
            Swal.fire({
            title: "Confirmación",
            text: '[[${msg}]]',
            icon: "success"
            });
        </script>
    </div>

   
    <div th:if="${error != null}">
        <script>
            Swal.fire({
                title: "Error",
                text: '[[${error}]]',
                icon: "error"
            });
        </script>
    </div>

     <h1>Listado de clinicas</h1>
    <a th:href="@{/clinica/create}" class="btn btn-outline-primary">Nueva Clinica</a>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Direccion</th>
            <th>Telefono</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${clinicas}">
            <td th:text="${item.id}"></td>
            <td th:text="${item.nombre}"></td>
            <td th:text="${item.direccion}"></td>
            <td th:text="${item.telefono}"></td>
            <td>
                <a th:href="@{/clinica/details/{id} (id = ${item.id}) }" class="btn btn-outline-secondary">Detalles</a> |
                <a th:href="@{/clinica/edit/{id} (id = ${item.id}) }" class="btn btn-outline-info">Editar</a> |
                <a th:href="@{/clinica/remove/{id} (id = ${item.id}) }" class="btn btn-outline-danger">Eliminar</a>
            </td>
        </tr>
        </tbody>
    </table>

    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item" th:each="pageNumber : ${pageNumbers}">
                <a class="page-link" th:href="@{|/clinicas=${pageNumbers}|}" th:text="${pageNumbers}"></a>
            </li>
        </ul>
    </nav> 

</div>